/*----------------------------------------------Titelseite--------------------------------------*/
/*----------------------------------------------Navigation--------------------------------------*/

.menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100vw;
    cursor: pointer;
}
  
.hamburger{
    display: flex;
    flex-direction: column;
    width: 30px;
    height: 20px;
    padding: 40px;
    justify-content: space-between;
    cursor: pointer;
    z-index: 9999;
    position: relative;
}

.hamburger:not(.inactive) .line {
    background-color: #A9D9D0; 
    cursor: pointer;
}

.line{
    background-color: #A9D9D0; 
    width: 95%;
    height: 3px;
   
    cursor: pointer;
}

.dropdown{
    display: none!important;
    position: absolute;
    left: 0;
    top: -1px;
    width:100%;
    padding: 90px 0 0 20px;
    background-color: #F37349;
    height: 100vh;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    border-radius: 4px; 
    cursor: pointer;   
}

.dropdown.open {
    display: block !important;
    cursor: pointer;
    width: 100%;
    
}

.dropdown li{
    padding: 10px;
    text-transform: uppercase;
    animation: fadeIn 0.5s ease-in-out forwards;
    transition: all 0.2s; /* Änderung hier */
    text-decoration: none;
    list-style-type: none;

      

}

.dropdown li:hover{
    background-color: #F37349;;
    width: 95%;
    text-decoration: none;
}

.dropdown a{
    color: white;
    font-family: "Archivo", sans-serif;
    font-weight: 800;
    font-size: 100px;
    text-decoration: none;
}

.dropdown a:hover{
    color: #A9D9D0;
}

.dropdown li:nth-child(1){
    animation-delay: 0.1s;
}

.dropdown li:nth-child(2){
    animation-delay: 0.15s;
}

.dropdown li:nth-child(3){
    animation-delay: 0.3s;
}

.dropdown li:nth-child(4){
    animation-delay: 0.45s;
}






.startseite {
    position: relative;
    margin-top: 40px; /* Füge einen oberen Abstand hinzu, um Platz für das Rechteck zu schaffen */
}

.abgerundetes-rechteck {
    position: absolute;
    width: 940px;
    height: 600px;
    background-color: #A9D9D0;
    border-radius: 210px 0 0 210px;
    right: 0;
    top: 0;
    z-index: -1;
    overflow: hidden; /* Stelle sicher, dass das Bild innerhalb des Rechtecks bleibt */
    margin-top: 100px;
}

.startseite-text::before {
    content: '';
    height: 70%;
    position: absolute;
    margin-top: 55px;
    left: 220px; /* Anpassen der Position des Strichs zur Seite */
    width: 6px; /* Breite des Strichs */
    background-color: #F37349; /* Farbe des Strichs */
}


.blaue_fleache img {
    position: relative; /* Positioniere das Bild relativ zum Seitencontainer */
    margin-left: 500px;
    height: 800px;
    margin-top: -540px;
}

.startseite-text {
    position: relative;
    padding-left: 275px;
    padding-top: 120px;
}

h2 {
    color: #F37349;
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 110px;
    margin-right: 300px;
}

h3 {
    color: #0D0D0D;
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    margin-top: -60px;
    
}

h4 {
    color: #0D0D0D;
    font-family: "Archivo", sans-serif;
    font-size: 17px;
    font-weight: 300;
    line-height: 1.3;
    margin-top: -10px;
}

/*----------------------------------------Übersichtsseite------------------------------------------*/

#uebersichtsseite{
    padding-top: 120px;
    margin: 0 auto;
    padding-bottom: 190px;
}


.grid-container {
    display: grid;
    grid-template-columns: 1fr 550px 1fr; /* Zwei Spalten, das Bild hat eine feste Breite von 200px */
    grid-template-rows: auto; /* Automatische Höhe für die beiden Reihen */
    gap: 5px; /* Abstand zwischen den Grid-Elementen */
}


.box1{
    color: #0D0D0D;
    font-family: "Archivo", sans-serif;
    font-size: 17px;
    font-weight: 300;
    line-height: 1.3;
    text-align: right;
    max-width: 300px; /* Maximalbreite des Textcontainers */
    margin: 0 auto; /* Zentrieren des Textcontainers */
    margin-right: 40px;
}

.box2{
    color: #F37349;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 190px;
    line-height: 1.3;
    text-align: center;
    margin-right: 200px;
}

.box4{
    color: #0D0D0D;
    font-family: "Archivo", sans-serif;
    font-size: 17px;
    font-weight: 300;
    line-height: 1.3;
    text-align: left;
    max-width: 300px; /* Maximalbreite des Textcontainers */
    margin: 0 auto; /* Zentrieren des Textcontainers */
    margin-left: 55px;
}

.box3{
    color: #F37349;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 190px;
    line-height: 1.3;
    text-align: center;
    margin-left: 200px;
    
}

.center-box {
    grid-column: 2; /* Das Bild soll in der Mitte der zweiten Spalte sein */
    grid-row: 1 / span 2; /* Das Bild soll über beide Reihen reichen */
}

.center-box img {
    height: 650px;
    position: center;
}

.box2 {
    position: relative; /* Set the position to relative for the overlay text to be positioned relative to this box */
}

.box2 .overlay-text {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    color: #84D7C7;
    opacity: 0.7;
    font-size: 50px; /* Adjust the font size */
    text-align: center; /* Center the text */
    z-index: 2; /* Make sure the overlay text is above the other text */
 
}

.box3 {
    position: relative; /* Set the position to relative for the overlay text to be positioned relative to this box */
}

.box3 .overlay-text {
    position: absolute;
    top: 40%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%);
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    color: #84D7C7;
    opacity: 0.7; /* Color with less opacity */
    font-size: 50px; /* Adjust the font size */
    text-align: center; /* Center the text */
    z-index: 2; /* Make sure the overlay text is above the other text */
}


/*----------------------------------------Fakten------------------------------------------*/


.fakten-text h1{
    color: #F37349;
    font-family: "Archivo", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 300px;
    margin: 0 auto;
    text-align: center;
    position: relative; /* Add position relative to h1 */
}

.fakten-text .overlay-text-fakten{
    color: #0D0D0D;
    font-family: "Archivo", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 25px;
    line-height: 1.3;
    text-align: center;
    margin: 0 auto;
    left: 15%;
    top: -12y0px;
    max-width: 500px;

    transform: translate(-50%, -50%);
    position: relative; /* Add position relative to h1 */
}

