body {
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

/*----------------------------------------------Header--------------------------------------*/

.menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100vw;
    cursor: pointer;
}
  
.hamburger{
    display: flex;
    flex-direction: column;
    width: 30px;
    height: 20px;
    padding: 40px;
    justify-content: space-between;
    cursor: pointer;
    z-index: 9999;
    position: relative;
}

.hamburger:not(.inactive) .line {
    background-color: #A9D9D0; 
    cursor: pointer;
}

.line{
    background-color: #A9D9D0; 
    width: 95%;
    height: 3px;
    cursor: pointer;
}

.dropdown{
    display: none!important;
    position: absolute;
    left: 0;
    top: -1px;
    width:100%;
    padding: 90px 0 0 20px;
    background-color: #F2E7DC;
    height: 100vh;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    border-radius: 4px; 
    cursor: pointer;   
}

.dropdown.open {
    display: block !important;
    cursor: pointer;
    width: 100%; 
}

.dropdown li{
    padding: 10px;
    text-transform: uppercase;
    animation: fadeIn 0.5s ease-in-out forwards;
    transition: all 0.2s; /* Änderung hier */
    text-decoration: none;
    list-style-type: none;  
}

.dropdown a{
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 800;
    font-size: 100px;
    text-decoration: none;
}

.dropdown a:hover{
    color: #A9D9D0;
}

.dropdown li:nth-child(1){
    animation-delay: 0.1s;
}

.dropdown li:nth-child(2){
    animation-delay: 0.15s;
}

.dropdown li:nth-child(3){
    animation-delay: 0.3s;
}

.dropdown li:nth-child(4){
    animation-delay: 0.45s;
}

/*----------------------------------------------Startseite--------------------------------------*/
.startseite {
    position: relative;
    margin-top: 40px; /* Füge einen oberen Abstand hinzu, um Platz für das Rechteck zu schaffen */
}

.abgerundetes-rechteck {
    position: absolute;
    width: 940px;
    height: 600px;
    background-color: #A9D9D0;
    border-radius: 210px 0 0 210px;
    right: 0;
    top: 0;
    z-index: -1;
    overflow: hidden; /* Stelle sicher, dass das Bild innerhalb des Rechtecks bleibt */
    margin-top: 100px;
}

.startseite-text::before {
    content: '';
    height: 70%;
    position: absolute;
    margin-top: 70px;
    left: 220px; /* Anpassen der Position des Strichs zur Seite */
    width: 6px; /* Breite des Strichs */
    background-color: #A9D9D0; /* Farbe des Strichs */
}

.blaue_fleache img {
    position: relative; /* Positioniere das Bild relativ zum Seitencontainer */
    height: 800px;
    margin-top: -540px;
    padding-left:800px ;
}

.startseite-text {
    position: relative;
    padding-left: 275px;
    padding-top: 120px;
}

h2 {
    color: #F2E7DC;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 112px;
    width: 100%;
}

h3 {
    color: #0D0D0D;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 45px;
    margin-top: -100px;
    
}

h4 {
    color: #0D0D0D;
    font-family: "Roboto", sans-serif; 
    font-size: 17px;
    font-weight: 300;
    line-height: 1.3;
    margin-top: -30px;
}

/*----------------------------------------Übersichtseite------------------------------------------*/
#uebersichtsseite {
    padding-top: 120px;
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid-container-uebersichtsseite {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 5px;
    width: 100%;
}

.box3, .box4 {
    color: #0D0D0D;
    font-family: "Roboto", sans-serif;
    font-size: 17px;
    font-weight: 300;
    line-height: 1.3;
    max-width: 300px;
    margin: 0 auto;
    word-spacing: -1px;
    letter-spacing: -0.5px;
    text-align: center;
    padding-top: -20px;
}

.box1 {
    margin-right: 40px;
}

.box2 {
    margin: auto 0;
}

.box4 {
    margin-left: 55px;
    margin-top: 20px;
}

.box1, .box2 {
    position: relative;
    color: #F2E7DC;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 190px;
    line-height: 1.3;
    text-align: center;
    margin: 0 auto;
}

.box1 .overlay-text {
    position: absolute;
    top: 36%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    color: #A9D9D0;
    font-size: 50px;
    text-align: center;
}

.box2 .overlay-text {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    color: #A9D9D0;
    font-size: 50px;
    text-align: center;
}

.center-box {
    grid-column: 2;
    grid-row: 1 / span 2;
}

.center-box img {
    height: 650px;
    position: center;
    padding-bottom: 50px;
}

/*----------------------------------------Radar Chart------------------------------------------*/

.radar-chart h2{
    color: #F2E7DC;
    font-family: "Roboto", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 160px;
    margin: 0 auto;
    text-align: center;
    position: relative; /* Add position relative to h2 */
    opacity: 0.7;
}

.boxchart{
    color: #0D0D0D;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 35px;
    line-height: 1.3;
    text-align: center;
    margin: 0 auto;
    margin-top: -15px;
    margin-right: 360px;
    max-width: 500px;
    transform: translate(-50%, -50%);
    position: relative; /* Add position relative to h2 */
   
}

.radar-chart .boxchart2{
    padding-top: 20px;
    color: #858585;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 15px;
    line-height: 1.3;
    text-align: center;
    margin: 0 auto;
    margin-top:-10px;
    margin-right: -40px;
    max-width: 900px;
    transform: translate(-50%, -50%);
    position: relative; /* Add position relative to h1 */
}

#myChart {
    position: relative;
    margin: 0 auto;
    width: 100% !important;
    max-width: 600px;
    height: 500px;
    padding-top: 10px;
}

.map-svg img {
    max-width: 50%; /* Maximale Bildbreite */
    display: block; /* Blockelement */
    margin: 0 auto;
    margin-top: -100px;
    position: relative;
}

/*----------------------------------------einsparung co2 Barometer------------------------------------------*/

.barometer-container {
    width: 400px;
    margin: 0 auto;
    padding: 10px;
}

.barometer-container2 h2 {
    color: #A9D9D0;
    font-family: "Roboto", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 200px;
    margin: 0 auto;
    text-align: center;
    position: relative; /* Add position relative to h2 */
    opacity: 0.7;
    padding-top: 40px;
}

.fill {
    height: 100%;
    background-color: #A9D9D0;
    border-radius: 5px;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #f0f0f0;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-top:-40px;

}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #A9D9D0;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #A9D9D0;
    cursor: pointer;
}

.text {
    text-align: center;
}

.text {
    color: #858585;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 15px;
}




/*----------------------------------------Footer------------------------------------------*/

footer {
    background-color: #A9D9D0;
    color: white;
    padding: 20px;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 17px;
    margin-top: 50px;
}


/*----------------------------------------RESPONSIVE-------------------------------------*/

@media screen and (max-width: 1500px) {

  /*----------------------------------------------Header--------------------------------------*/  
    .dropdown a{
        font-size: 90px;
    }

    .line{
        background-color: #ffffff; 
    }

    .hamburger:not(.inactive) .line {
        background-color:#ffffff;
    }

  /*----------------------------------------------Startseite--------------------------------------*/  
    .abgerundetes-rechteck {
       border-radius: 0%;
       width: 1500px;
       height: 860px;
       margin-top: -40px;
       margin-bottom: 20px;
    }

    .startseite-text::before {
        content: '';
        height: 70%;
        position: absolute;
        margin-top: 90px;
        left: 370px; /* Anpassen der Position des Strichs zur Seite */
        width: 6px; /* Breite des Strichs */
        background-color: #F2E7DC; /* Farbe des Strichs */
    }

    .blaue_fleache img {
        position: relative; /* Positioniere das Bild relativ zum Seitencontainer */
        height: 500px;
        padding-top: 130px; 
    }

    .startseite-text {
        position: relative;
        padding-left: 410px;
        padding-top: 70px;
    }
    
    h2 {
        color: #F2E7DC;
        font-family: "Roboto", sans-serif;
        font-weight: 900;
        font-style: normal;
        font-size: 100px;
        margin-top: 100px;
    }
    
    h3 {
        color: #0D0D0D;
        font-family: "Roboto", sans-serif;
        font-weight: 900;
        font-style: normal;
        font-size: 40px;
        margin-top: -90px;
    }
    
    h4 {
        color: #0D0D0D;
        font-family: "Roboto", sans-serif; 
        font-size: 15px;
        font-weight: 300;
        line-height: 1.3;
        margin-top: -20px;
    }

/*----------------------------------------------Übersichtseite--------------------------------------*/  

#uebersichtsseite {
    padding-top: 340px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}

.grid-container-uebersichtsseite {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 5px;
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    color: #A9D9D0;
    font-size: 50px;
    text-align: center;
}

.center-box img {
    height: 350px;
    display: block;
    margin: 0 auto;
    padding-top: 50px;
}

/*----------------------------------------Chart------------------------------------------*/

.radar-chart h2{
    color: #F2E7DC;
    font-family: "Roboto", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 200px;
    margin: 0 auto;
    text-align: center;
    position: relative; /* Add position relative to h2 */
    opacity: 0.7;
}

.boxchart{
    color: #0D0D0D;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 35px;
    line-height: 1.3;
    text-align: center;
    margin: 0 auto;
    margin-top: -45px;
    margin-right: 250px;
    max-width: 500px;
    transform: translate(-50%, -50%);
    position: relative; /* Add position relative to h2 */
}

.radar-chart .boxchart2{
    color: #858585;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 15px;
    line-height: 1.3;
    text-align: center;
    margin: 0 auto;
    margin-top:-10px;
    margin-right: -40px;
    max-width: 900px;
    transform: translate(-50%, -50%);
    position: relative; /* Add position relative to h1 */
}

#myChart {
    position: relative;
    margin: 0 auto;
    width: 100% !important;
    max-width: 600px;
    height: 500px;
    padding-top: 0px;
}
}

@media screen and (max-width: 1300px) {

/*----------------------------------------------Header--------------------------------------*/  
.dropdown a{
    font-size: 60px;
}
/*----------------------------------------------Startseite--------------------------------------*/ 

.blaue_fleache img {
    display: none;
}

.startseite-text {
    position: relative;
    padding-left: 390px;
    padding-top: 100px;
}
.startseite-text::before {
    content: '';
    height: 70%;
    position: absolute;
    margin-top: 90px;
    left: 340px; /* Anpassen der Position des Strichs zur Seite */
    width: 4px; /* Breite des Strichs */
    background-color: #F2E7DC; /* Farbe des Strichs */
}

/*------------------Übersichtseite-------------------*/
#uebersichtsseite {
    padding-top: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
}

.grid-container-uebersichtsseite {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 5px;
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    color: #A9D9D0;
    font-size: 50px;
    text-align: center;
}

.center-box img {
    height: 350px;
    display: block;
    margin: 0 auto;
    padding-top: 50px;
}

/*----------------------------------------Fakten------------------------------------------*/
#fakten{
    padding-top: 50px;
    margin: 0 auto;
    padding-bottom: 120px;
}

.fakten-text .overlay-text-fakten{
    margin-right: 145px;
}

.fakten-text .overlay-text-klein-fakten{
    margin-top:-10px;
    margin-right: -260px;
}

.map-svg img {
    margin-bottom: 60px;
}
}


@media screen and (max-width: 1100px) {
/*----------------------------------------------Startseite--------------------------------------*/
.abgerundetes-rechteck {
    width: 1100px;
    height: 860px;
 }

.startseite-text {
    position: relative;
    padding-left: 340px;
    padding-top: 100px;
}

.startseite-text::before {
    content: '';
    height: 70%;
    position: absolute;
    margin-top: 90px;
    left: 290px; /* Anpassen der Position des Strichs zur Seite */
    width: 4px; /* Breite des Strichs */
    background-color: #F2E7DC; /* Farbe des Strichs */
}

/*------------------Übersichtseite-------------------*/
#uebersichtsseite {
    padding-top: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 60px;
}

.grid-container-uebersichtsseite {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 50px;
}

.box4{
    margin: 0 auto;
    position: absolute;
    margin-left: 260px;
    margin-top: 260px;
    margin-bottom: 40px;
}

.box2 {
    position: relative;
    color: #F2E7DC;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 190px;
    line-height: 1.3;
    text-align: center;
    margin: 0 auto;
    padding-top: 150px;
    align-items: center;
    padding-bottom: -60px;
}


.box1{
    position: relative;
    color: #F2E7DC;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 190px;
    line-height: 1.3;
    text-align: center;
    margin: 0 auto;
    padding-top:-190px;
}



.overlay-text {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    color: #A9D9D0;
    font-size: 50px;
    text-align: center;
}

.center-box img {
    display: none;
}

/*----------------------------------------Fakten------------------------------------------*/
#fakten{
    padding-top: 50px;
    margin: 0 auto;
    padding-bottom: 120px;
}

.fakten-text .overlay-text-fakten{
    margin-right: 50px;
    margin-top: -30px;
}

.fakten-text .overlay-text-klein-fakten{
    margin-top: 10px;
    margin-right: -350px;
}

.map-svg img {
    margin-bottom: 60px;
}
}
     

@media screen and (max-width: 900px) {
    /*----------------------------------------------Startseite--------------------------------------*/
.abgerundetes-rechteck {
        width: 900px;
        height: 784px;  
}

    .startseite-text {
        position: relative;
        padding-left: 220px;
        padding-top: 100px;
    }
    
    .startseite-text::before {
        content: '';
        height: 70%;
        position: absolute;
        margin-top: 90px;
        left: 180px; /* Anpassen der Position des Strichs zur Seite */
        width: 4px; /* Breite des Strichs */
        background-color: #F2E7DC; /* Farbe des Strichs */
    }

/*------------------Übersichtseite-------------------*/
#uebersichtsseite {
    padding-top: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 60px;
}

.grid-container-uebersichtsseite {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 50px;
}

.box4{
    margin: 0 auto;
    position: absolute;
    margin-left: 170px;
    margin-top: 260px;
    margin-bottom: 40px;
}

.box2 {
    position: relative;
    color: #F2E7DC;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 170px;
    line-height: 1.3;
    text-align: center;
    margin: 0 auto;
    padding-top: 150px;
    align-items: center;
    padding-bottom: -60px;
}


.box1{
    position: relative;
    color: #F2E7DC;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 170px;
    line-height: 1.3;
    text-align: center;
    margin: 0 auto;
    padding-top:-190px;
}

.overlay-text {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    color: #A9D9D0;
    font-size: 50px;
    text-align: center;
}

.center-box img {
    display: none;
}


/*----------------------------------------Fakten------------------------------------------*/
#fakten{
    padding-top: 50px;
    margin: 0 auto;
    padding-bottom: 120px;
}

.fakten-text .overlay-text-fakten{
    margin-right: -50px;
    margin-top: -30px;
}

.fakten-text .overlay-text-klein-fakten{
    margin-top: 10px;
    margin-right: -450px;
}

.map-svg img {
    margin-bottom: 60px;
}
.fakten-text h1{
    font-size: 170px;
}

/*----------------------------------------Chart------------------------------------------*/
.radar-chart h2{
    font-size: 100px;
}
}

@media screen and (max-width: 750px) {
    /*----------------------------------------------Startseite--------------------------------------*/
    .abgerundetes-rechteck {
        width: 900px;
        height: 850px;
        margin-right: -75px;
}
    .startseite-text {
        position: relative;
        padding-left: 200px;
        padding-top: 100px;
}   
    .startseite-text::before {
        content: '';
        height: 70%;
        position: absolute;
        margin-top: 90px;
        left: 160px; /* Anpassen der Position des Strichs zur Seite */
        width: 4px; /* Breite des Strichs */
        background-color: #F2E7DC; /* Farbe des Strichs */
}

/*------------------Übersichtseite-------------------*/
#uebersichtsseite {
    padding-top: 380px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 60px;
    margin-right: 20px;
}

.grid-container-uebersichtsseite {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 50px;
}

.box4{
    margin: 0 auto;
    position: absolute;
    margin-left: 120px;
    margin-top: 230px;
    margin-bottom: 120px;
}

/*----------------------------------------Fakten------------------------------------------*/
#fakten{
    padding-top: 50px;
    margin: 0 auto;
    padding-bottom: 120px;
}

.fakten-text h1{
    font-size: 150px;
}

.fakten-text .overlay-text-fakten{
    margin-right: -160px;
    margin-top: -30px;
}

.fakten-text .overlay-text-klein-fakten{
    margin-top: 10px;
    align-items: center;
    margin-left: 400px;
    display: none;
}

.map-svg img {
    margin-bottom: 60px;
    align-items: center;
    padding-left: 80px;
}

.fakten-text h1{
    font-size: 160px;
    margin-right: -80px;
    margin-top: -50px;
}

/*----------------------------------------Chart------------------------------------------*/
.radar-chart h2{
    font-size: 90px;
    padding-left: 50px;
}

/*----------------------------------------Footer------------------------------------------*/

footer {
    background-color: #A9D9D0;
    color: white;
    padding: 20px;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 17px;
    margin-top: 50px;
    width: 105%;
}

}   

@media screen and (max-width: 600px) {
 
/*----------------------------------------------Startseite--------------------------------------*/


.abgerundetes-rechteck {
    width: 800px;
    height: 900px;
    margin-right: -300px;
}
.startseite-text {
    position: relative;
    padding-left: 80px;
    padding-top: 20px;
}   
.startseite-text::before {
    content: '';
    height: 90%;
    position: absolute;
    margin-top: 140px;
    left: 50px; /* Anpassen der Position des Strichs zur Seite */
    width: 5px; /* Breite des Strichs */
    background-color: #F2E7DC; /* Farbe des Strichs */
}

h2 {
    color: #F2E7DC;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 90px;
    margin-top: 200px;
}

h3 {
    color: #0D0D0D;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 50px;
    margin-top: -80px;
    width: 130%;
}

h4 {
    color: #0D0D0D;
    font-family: "Roboto", sans-serif; 
    font-size: 25px;
    line-height: 1.3;
    margin-top: -30px;
    max-width: 500px;
    width: 120%;
    margin-top: -30px;
    margin-left: -0.2px;
}

}

@media screen and (max-width: 500px) {
/*----------------------------------------------Startseite--------------------------------------*/

.dropdown a{
    font-size: 50px;
}

.dropdown{
    display: none!important;
    position: absolute;
    left: 0;
    top: -1px;
    width:100%;
    width: 390px;
    padding: 90px 0 0 20px;
    background-color: #F2E7DC;
    height: 128vh;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    border-radius: 4px; 
    cursor: pointer;   
}

.dropdown.open {
    display: block !important;
    cursor: pointer;
    width: 154%; 
}


/*----------------------------------------------Startseite--------------------------------------*/
.abgerundetes-rechteck {
    width: 500px;
    height: 1100px;
    margin-right: 1px;

}
.startseite-text {
    position: relative;
    padding-left:60px;
    padding-top: 20px;
}   
.startseite-text::before {
    content: '';
    height: 90%;
    position: absolute;
    margin-top: 140px;
    left: 40px; /* Anpassen der Position des Strichs zur Seite */
    width: 5px; /* Breite des Strichs */
    background-color: #F2E7DC; /* Farbe des Strichs */
}

h2 {
    color: #F2E7DC;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 70px;
    margin-top: 200px;
    width: 90%;
}

h3 {
    color: #0D0D0D;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 35px;
    margin-top: -40px;
    width: 90%;
}

h4 {
    color: #0D0D0D;
    font-family: "Roboto", sans-serif; 
    font-size: 20px;
    line-height: 1.3;
    margin-top: -20px;
    max-width: 300px;
    width: 110%;
    margin-top: -10px;
    margin-left: -0.2px;
}

/*------------------Übersichtseite-------------------*/
#uebersichtsseite {
    padding-top: 480px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 80px;
    margin-left: 70px;
}

.grid-container-uebersichtsseite {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 30px;

}

.box1 {
    position: relative;
    color: #F2E7DC;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 190px;
    line-height: 1.3;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 120px;
    margin-top: -50px;
    
}

.box2 {
    position: relative;
    color: #F2E7DC;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 190px;
    line-height: 1.3;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 60px;
    margin-top: 20px;
}

.box3{
    font-size: 20px;
    max-width: 340px;
    width: 150%;
    margin-top: -70px;
    margin-left: 10px;
}

.box4{
    margin: 0 auto;
    position: absolute;
    margin-top: 230px;
    margin-bottom: 220px;
    width: 100%;
    font-size: 20px;
    max-width: 340px;
    margin-left: 10px;
}

/*----------------------------------------Fakten------------------------------------------*/
#fakten{
    padding-top: 50px;
    margin: 0 auto;
    padding-bottom: 120px;
}

.fakten-text h1{
    font-size: 150px;
    padding-right: 80px;
}

.fakten-text .overlay-text-fakten{
    margin-right: -140px;
    margin-top: -10px;
    max-width: 400px;
}


.map-svg img {
    margin-bottom: 60px;
    align-items: center;
    padding-right: 80px;
    width: 300px;
    max-width: 1000px;
}

/*----------------------------------------Footer------------------------------------------*/

footer {
    background-color: #A9D9D0;
    color: white;
    padding: 20px;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 17px;
    margin-top: 50px;
    width: 90%;
}
/*----------------------------------------Chart------------------------------------------*/
.radar-chart h2{
    font-size: 70px;
    margin-left: -25px;
}

#myChart {
    position: relative;
    margin: 0 auto;
    width: 100% !important;
    max-width: 400px;
    height: 500px;
    padding-top: 0px;
    margin-left: 40px;
}
}  




@media screen and (max-width: 390px) {
/*----------------------------------------------Navigation--------------------------------------*/
.dropdown a{
    font-size: 55px;
}

.dropdown{
    display: none!important;
    position: absolute;
    left: 0;
    top: -1px;
    width:100%;
    width: 390px;
    padding: 90px 0 0 20px;
    background-color: #F2E7DC;
    height: 128vh;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    border-radius: 4px; 
    cursor: pointer;   
}

.dropdown.open {
    display: block !important;
    cursor: pointer;
    width: 154%; 
}


/*----------------------------------------------Startseite--------------------------------------*/
.abgerundetes-rechteck {
    width: 620px;
    height: 1100px;
    margin-right: -180px;
}
.startseite-text {
    position: relative;
    padding-left: 80px;
    padding-top: 20px;
}   
.startseite-text::before {
    content: '';
    height: 90%;
    position: absolute;
    margin-top: 140px;
    left: 50px; /* Anpassen der Position des Strichs zur Seite */
    width: 5px; /* Breite des Strichs */
    background-color: #F2E7DC; /* Farbe des Strichs */
}

h2 {
    color: #F2E7DC;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 80px;
    margin-top: 200px;
}

h3 {
    color: #0D0D0D;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 40px;
    margin-top: -50px;
    width: 130%;
}

h4 {
    color: #0D0D0D;
    font-family: "Roboto", sans-serif; 
    font-size: 25px;
    line-height: 1.3;
    margin-top: -30px;
    max-width: 800px;
    width: 120%;
    margin-top: -20px;
    margin-left: -0.2px;
}

/*------------------Übersichtseite-------------------*/
#uebersichtsseite {
    padding-top: 480px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 60px;
    margin-left: 140px;
 
}

.grid-container-uebersichtsseite {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 30px;

}

.box1 {
    position: relative;
    color: #F2E7DC;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 190px;
    line-height: 1.3;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 120px;
    margin-top: -40px;
}

.box2 {
    position: relative;
    color: #F2E7DC;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 190px;
    line-height: 1.3;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 60px;
    margin-top: 20px;
}

.box3{
    font-size: 25px;
    max-width: 800px;
    width: 150%;
    margin-top: -70px;
    margin-left: -60px;
}

.box4{
    margin: 0 auto;
    position: absolute;
    margin-top: 230px;
    margin-bottom: 220px;
    width: 100%;
    font-size: 25px;
    max-width: 840px;
    margin-left: -60px; 
}

/*----------------------------------------Fakten------------------------------------------*/
#fakten{
    padding-top: 50px;
    margin: 0 auto;
    padding-bottom: 120px;
}

.fakten-text h1{
    font-size: 150px;
    padding-left: 120px;
}

.fakten-text .overlay-text-fakten{
    margin-right: -420px;
    margin-top: -30px;
}

.fakten-text .overlay-text-klein-fakten{
    margin-top: 10px;
    align-items: center;
    margin-left: 300px;

}

.map-svg img {
    margin-bottom: 60px;
    align-items: center;
    margin-right: -170px;
    padding-left: 80px;
    max-width: 800px;
}

/*----------------------------------------Footer------------------------------------------*/

footer {
    background-color: #A9D9D0;
    color: white;
    padding: 20px;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 17px;
    margin-top: 50px;
    width: 150%;
}
/*----------------------------------------Chart------------------------------------------*/
.radar-chart h2{
    font-size: 90px;
    padding-left: 40px;
}

#myChart {
    position: relative;
    margin: 0 auto;
    width: 100% !important;
    max-width: 600px;
    height: 500px;
    padding-top: 0px;
    margin-left: 110px;
}
}  

