
/*----------------------------------------------Header--------------------------------------*/

.menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100vw;
    cursor: pointer;
}
  
.hamburger{
    display: flex;
    flex-direction: column;
    width: 30px;
    height: 20px;
    padding: 40px;
    justify-content: space-between;
    cursor: pointer;
    z-index: 9999;
    position: relative;
}

.hamburger:not(.inactive) .line {
    background-color: #A9D9D0; 
    cursor: pointer;
}

.line{
    background-color: #A9D9D0; 
    width: 95%;
    height: 3px;
    cursor: pointer;
}

.dropdown{
    display: none!important;
    position: absolute;
    left: 0;
    top: -1px;
    width:100%;
    padding: 90px 0 0 20px;
    background-color: #F2E7DC;
    height: 100vh;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    border-radius: 4px; 
    cursor: pointer;   
}

.dropdown.open {
    display: block !important;
    cursor: pointer;
    width: 100%;
    
}

.dropdown li{
    padding: 10px;
    text-transform: uppercase;
    animation: fadeIn 0.5s ease-in-out forwards;
    transition: all 0.2s; /* Änderung hier */
    text-decoration: none;
    list-style-type: none;  
}

.dropdown a{
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 800;
    font-size: 100px;
    text-decoration: none;
}

.dropdown a:hover{
    color: #A9D9D0;
}

.dropdown li:nth-child(1){
    animation-delay: 0.1s;
}

.dropdown li:nth-child(2){
    animation-delay: 0.15s;
}

.dropdown li:nth-child(3){
    animation-delay: 0.3s;
}

.dropdown li:nth-child(4){
    animation-delay: 0.45s;
}

/*----------------------------------------------Startseite--------------------------------------*/
.startseite {
    position: relative;
    margin-top: 40px; /* Füge einen oberen Abstand hinzu, um Platz für das Rechteck zu schaffen */
}

.abgerundetes-rechteck {
    position: absolute;
    width: 940px;
    height: 600px;
    background-color: #A9D9D0;
    border-radius: 210px 0 0 210px;
    right: 0;
    top: 0;
    z-index: -1;
    overflow: hidden; /* Stelle sicher, dass das Bild innerhalb des Rechtecks bleibt */
    margin-top: 100px;
}

.startseite-text::before {
    content: '';
    height: 70%;
    position: absolute;
    margin-top: 70px;
    left: 220px; /* Anpassen der Position des Strichs zur Seite */
    width: 6px; /* Breite des Strichs */
    background-color: #A9D9D0; /* Farbe des Strichs */
}

.blaue_fleache img {
    position: relative; /* Positioniere das Bild relativ zum Seitencontainer */
    margin-left:800px;
    height: 800px;
    margin-top: -540px;
}

.startseite-text {
    position: relative;
    padding-left: 275px;
    padding-top: 120px;
}

h2 {
    color: #F2E7DC;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 114px;
    width: 100%;
}

h3 {
    color: #0D0D0D;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 45px;
    margin-top: -100px;
    
}

h4 {
    color: #0D0D0D;
    font-family: "Roboto", sans-serif; 
    font-size: 17px;
    font-weight: 300;
    line-height: 1.3;
    margin-top: -30px;
}

/*----------------------------------------Übersichtsseite------------------------------------------*/

#uebersichtsseite{
    padding-top: 120px;
    margin: 0 auto;
}


.grid-container {
    display: grid;
    grid-template-columns: 1fr 550px 1fr; /* Zwei Spalten, das Bild hat eine feste Breite von 200px */
    grid-template-rows: auto; /* Automatische Höhe für die beiden Reihen */
    gap: 5px; /* Abstand zwischen den Grid-Elementen */
}


.box1{
    color: #0D0D0D;
    font-family: "Roboto", sans-serif; 
    font-size: 17px;
    font-weight: 300;
    line-height: 1.3;
    text-align: center;
    max-width: 300px; /* Maximalbreite des Textcontainers */
    margin: 0 auto; /* Zentrieren des Textcontainers */
    margin-right: 40px;
    word-spacing: -1px; /* Beispielwert, anpassen nach Bedarf */
    letter-spacing: -0.5px; /* Beispielwert, anpassen nach Bedarf */
}

.box2{
    color: #F2E7DC;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 190px;
    line-height: 1.3;
    text-align: center;
    margin-right: 200px;
}

.box4{
    color: #0D0D0D;
    font-family: "Roboto", sans-serif; 
    font-size: 17px;
    font-weight: 300;
    line-height: 1.3;
    text-align: center;
    max-width: 300px; /* Maximalbreite des Textcontainers */
    margin: 0 auto; /* Zentrieren des Textcontainers */
    margin-left: 55px;
    margin-top: 20px;
    word-spacing: -1px; /* Beispielwert, anpassen nach Bedarf */
    letter-spacing: -0.5px; /* Beispielwert, anpassen nach Bedarf */
}

.box3{
    color: #F2E7DC;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 190px;
    line-height: 1.3;
    text-align: center;
    margin-left: 200px;
}

.center-box {
    grid-column: 2; /* Das Bild soll in der Mitte der zweiten Spalte sein */
    grid-row: 1 / span 2; /* Das Bild soll über beide Reihen reichen */
}

.center-box img {
    height: 650px;
    position: center;
    padding-bottom: 50px;
}

.box2 {
    position: relative; /* Set the position to relative for the overlay text to be positioned relative to this box */
}

.box2 .overlay-text {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    color: #A9D9D0;
    font-size: 50px; /* Adjust the font size */
    text-align: center; /* Center the text */
}

.box3 {
    position: relative; /* Set the position to relative for the overlay text to be positioned relative to this box */
}

.box3 .overlay-text {
    position: absolute;
    top: 40%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%);
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    color: #A9D9D0;
    font-size: 50px; /* Adjust the font size */
    text-align: center; /* Center the text */
}


/*----------------------------------------Fakten------------------------------------------*/
#fakten{
    padding-top: 50px;
    margin: 0 auto;
    padding-bottom: 120px;
}

.map-svg img {
    max-width: 50%; /* Maximale Bildbreite */
    display: block; /* Blockelement */
    margin: 0 auto;
    margin-top: -120px;
    position: relative;
}

.fakten-text h1{
    color: #F2E7DC;
    font-family: "Roboto", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 280px;
    margin: 0 auto;
    text-align: center;
    position: relative; /* Add position relative to h1 */
    opacity: 0.7;
}

.fakten-text .overlay-text-fakten{
    color: #0D0D0D;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 35px;
    line-height: 1.3;
    text-align: center;
    margin: 0 auto;
    margin-top: -45px;
    margin-right: 50px;
    max-width: 800px;
    transform: translate(-50%, -50%);
    position: relative; /* Add position relative to h1 */
}

.fakten-text .overlay-text-klein-fakten{
    color: #858585;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 15px;
    line-height: 1.3;
    text-align: center;
    margin: 0 auto;
    margin-top:-10px;
    margin-right: -40px;
    max-width: 900px;
    transform: translate(-50%, -50%);
    position: relative; /* Add position relative to h1 */
}


/*----------------------------------------Footer------------------------------------------*/

footer {
    background-color: #84D7C7;
    color: white;
    padding: 20px;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 17px;
    margin-top: 50px;
}


/*----------------------------------------RESPONSIVE-------------------------------------*/

@media screen and (max-width: 1500px) {

  /*----------------------------------------------Header--------------------------------------*/  
    .dropdown a{
        font-size: 90px;
    }

    .line{
        background-color: #ffffff; 
    }

    .hamburger:not(.inactive) .line {
        background-color:#ffffff;
    }
    
  /*----------------------------------------------Übersichtsseite--------------------------------------*/  

    .abgerundetes-rechteck {
       border-radius: 0%;
       width: 1500px;
       height: 860px;
       margin-top: -40px;
       margin-bottom: 20px;
    }

    .startseite-text::before {
        content: '';
        height: 70%;
        position: absolute;
        margin-top: 90px;
        left: 370px; /* Anpassen der Position des Strichs zur Seite */
        width: 6px; /* Breite des Strichs */
        background-color: #F2E7DC; /* Farbe des Strichs */
    }

    .blaue_fleache img {
        position: relative; /* Positioniere das Bild relativ zum Seitencontainer */
        margin-left:880px;
        height: 500px;
        padding-top: 130px; 
    }

    .startseite-text {
        position: relative;
        padding-left: 410px;
        padding-top: 100px;
    }
    
    h2 {
        color: #F2E7DC;
        font-family: "Roboto", sans-serif;
        font-weight: 900;
        font-style: normal;
        font-size: 100px;
        margin-top: 100px;
    }
    
    h3 {
        color: #0D0D0D;
        font-family: "Roboto", sans-serif;
        font-weight: 900;
        font-style: normal;
        font-size: 40px;
        margin-top: -90px;
        
    }
    
    h4 {
        color: #0D0D0D;
        font-family: "Roboto", sans-serif; 
        font-size: 15px;
        font-weight: 300;
        line-height: 1.3;
        margin-top: -20px;
    }

/*----------------------------------------Übersichtsseite------------------------------------------*/

#uebersichtsseite {
    padding-top: 230px;
    margin: 0 auto;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr; /* Eine einzige Spalte */
    grid-template-rows: auto; /* Automatische Höhe für die Reihen */
    gap: 5px; /* Abstand zwischen den Grid-Elementen */
}

/* Zur Sicherheit, setzen wir die Breite der Boxen auf 100%, damit sie die gesamte Breite der Spalte einnehmen */
.box1, .box2, .box3, .box4 {
    width: 100%;
    margin: 0 auto; /* Zentrieren der Boxen */
}

/* Da wir nur eine Spalte haben, können wir das Zentrieren der Boxen entfernen */
.center-box {
    grid-column: auto;
}

/* Wir stellen sicher, dass das Bild in der Mitte der Spalte bleibt */
.center-box img {
    display: block;
    margin: 0 auto;
    height: 350px;
}

/* Zusätzliche Anpassungen für die Textboxen */
.box2 .overlay-text{
    top: 55%; /* Zentrieren des Textes vertikal */
}

.box3 .overlay-text {
    top: 50%; /* Zentrieren des Textes vertikal */
}


/*----------------------------------------Fakten------------------------------------------*/
#fakten{
    padding-top: 50px;
    margin: 0 auto;
    padding-bottom: 120px;
}

.map-svg img {
    max-width: 40%; /* Maximale Bildbreite */
    display: block; /* Blockelement */
    margin: 0 auto;
    margin-top: -120px;
    position: relative;
}

.fakten-text h1{
    color: #F2E7DC;
    font-family: "Roboto", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 200px;
    margin: 0 auto;
    text-align: center;
    position: relative; /* Add position relative to h1 */
    opacity: 0.7;
}

.fakten-text .overlay-text-fakten{
    color: #0D0D0D;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 25px;
    line-height: 1.3;
    text-align: center;
    margin: 0 auto;
    margin-top: -45px;
    margin-right: 245px;
    max-width: 500px;
    transform: translate(-50%, -50%);
    position: relative; /* Add position relative to h1 */
}

.fakten-text .overlay-text-klein-fakten{
    color: #858585;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 15px;
    line-height: 1.3;
    text-align: center;
    margin: 0 auto;
    margin-top:-10px;
    margin-right: -160px;
    transform: translate(-50%, -50%);
    position: relative; /* Add position relative to h1 */
}
}


@media screen and (max-width: 1300px) {

/*----------------------------------------------Header--------------------------------------*/  
.dropdown a{
    font-size: 60px;
}
/*----------------------------------------------Startseite--------------------------------------*/ 
     

.startseite-text::before {
         height: 85%;
         margin-top: -40px;
         left: 410px; /* Anpassen der Position des Strichs zur Seite */
         width: 5px; /* Breite des Strichs */
     }
     .startseite-text {
        position: relative;
        padding-left: 440px;
        position: absolute;
    }

    .blaue_fleache img {
        margin-left: 450px;
        height: 480px;
        padding-top:860px;
        position: relative;
    }

     h2 {
         font-size: 75px;
     
         margin-top: -20px;
     }
     
     h3 {
         font-size: 40px;
         margin-top: -60px;
     }
     
     h4 {
         font-size: 14px;
         margin-top: -20px;
    
     }

/*----------------------------------------Fakten------------------------------------------*/
#fakten{
    padding-top: 50px;
    margin: 0 auto;
    padding-bottom: 120px;
}

.fakten-text .overlay-text-fakten{
    margin-right: 145px;
}

.fakten-text .overlay-text-klein-fakten{
    margin-top:-10px;
    margin-right: -260px;
}
}

@media screen and (max-width: 1264px) {
/*----------------------------------------------Startseite--------------------------------------*/

.startseite-text::before {
    height: 85%;
    margin-top: -40px;
    left: 370px; /* Anpassen der Position des Strichs zur Seite */
    width: 5px; /* Breite des Strichs */
}
.startseite-text {
   position: relative;
   padding-left: 400px;
   position: absolute;
}

.blaue_fleache img {
   margin-left: 420px;
   height: 480px;
   padding-top:860px;
   position: relative;
}

h2 {
    font-size: 65px;
   
    margin-top: -20px;
}

h3 {
    font-size: 40px;
    margin-top: -60px;
}

h4 {
    font-size: 14px;
    margin-top: -20px;

}

/*----------------------------------------Fakten------------------------------------------*/
#fakten{
    padding-top: 50px;
    margin: 0 auto;
    padding-bottom: 120px;
}

.fakten-text .overlay-text-fakten{
    margin-right: 20px;
}

.fakten-text .overlay-text-klein-fakten{
    margin-top:-10px;
    margin-right: -380px;
}
}

@media screen and (max-width: 1015px) {
/*----------------------------------------------Startseite--------------------------------------*/
    
.abgerundetes-rechteck {
    width: 1500px;
    height: 790px; 
}

.startseite-text::before {
    height: 90%;
    margin-top: -30px;
    left: 335px; /* Anpassen der Position des Strichs zur Seite */
    width: 5px; /* Breite des Strichs */
}
.startseite-text {
    position: relative;
    padding-left: 370px;
    position: absolute;
    padding-top: 80px;
}

.blaue_fleache img {
    margin-left: 400px;
    height: 380px;
    padding-top: 860px;
    position: relative;
}

h2 {
    font-size: 50px;

    margin-top:-15px;
}

h3 {
    font-size: 25px;
    margin-top: -40px;
}

h4 {
    font-size: 14px;
    margin-top: -10px;
    max-width: 250px;
    
}
}        